
.headername{
  /* background-color: black;
  color: antiquewhite; */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
:root{
 
  background: "linear-gradient(to right, green, lightgreen, lightblue),
}